@forward "normalize";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

$clr-blue-700: #2f80ed;
$clr-blue-400: #95bcf4;

$clr-green: #219653;

$clr-gray-700: #4f4f4f;
$clr-gray-600: #828282;
$clr-gray-500: #bdbdbd;
$clr-gray-400: #f6f8fb;

$clr-white-700: #ffffff;
$clr-white-400: #f2f2f2;

$shadow: hsla(0, 0%, 0%, 0.1);

$fs-500: 18px;
$fs-400: 12px;
$fs-300: 10px;
$fs-200: 8px;

body {
  display: grid;
  place-content: center;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
